    /* == set box-sizing to border-box == */

    *, *:before, *:after { box-sizing: inherit;}
    html { box-sizing: border-box;}

html, body { height: 100%; }

body {margin: 0;}

#apps {
    overflow-y:scroll;
    color: #fff;
    color: rgba(255,255,255,0.85);
}

#pill{
    background: #2C393B;
}


#city{
    font-size:2rem;
    color: white;
    font-size:40px;
    margin: 5%;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #B2F2FF;
    float:left
}

#weather_desc{
    float:right;
    color: white;
}

#time {
    text-align:center;
    color:white;
    margin-top: 30%;
}


.appname {
    color:whitesmoke;
    font-size:14px;
    position: relative;
    overflow:hidden;
    z-index: 1;
}

.tile {
    display: inline-block;
    position:relative;
    padding: 2%;
    margin: 4px 4px;
    text-align: right;
    float:left;
    border-radius:2px;
    overflow: hidden;
    z-index:0;
}
.tile_bg{
    z-index: 0;
    display:block;
    position:absolute; top:0; left:0;
    width:100%;
    height:100%;
    border-radius: 2px;
}
.tile_ic{
    z-index: 1;
    display:block;
    position:absolute; top:0; left:0;
    width:100%;
    height:100%;
    border-radius: 2px;
    background-size: 60%!important;
    background-position: center center!important;
}
.small {
    display: inline-block;
    padding: 3%;
}

.name {
    color: white;
    margin: 5%;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #000;
    text-align: right;
}

#scrollbar {
    margin-top:10%;
    float: right;
}

#menu_settings {
    display:none;
}

#settings {
    float:right;
    font-size:29px;
    margin-right:-10%;
    margin-top:3%;
}

#worded .weekday{
    font-size: 1rem;
    font-weight: normal;
}
#worded .monthday{
    font-size: 5rem;
    font-weight: normal;
    font-style: italic;
}
